/*Responsive Grid from: http://www.responsivegridsystem.com/ */
/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF FOUR  */
.span_4_of_4 {
    width: 100%;
}
.span_3_of_4 {
    width: 74.6%;
}
.span_2_of_4 {
    width: 49.2%;
}
.span_1_of_4 {
    width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 {
     /*width: 100%; */
 }
}

/*! app css begin*/

$backgroundGray: #333333;

@mixin borderRadius($borderAmt, $radAmt){
    border: solid $backgroundGray $borderAmt;
    -webkit-border-radius: $radAmt;
    -moz-border-radius: $radAmt;
    border-radius: $radAmt;
}

.calculator {
    height: 250px;
    width: 200px;
    padding: 10px;
    margin: 0 auto 0 auto;
    background: $backgroundGray;

    @include borderRadius(15px, 45px);

    span {
        background-color: white;
        cursor: pointer;
        text-align: center;
        border: solid $backgroundGray 1px;
        box-sizing: border-box;
        line-height: 1.8em;
        @include borderRadius(1px, 5px);
    }   

}

#screen {
    width: 100%;
    margin: 0 auto 1.6em auto;
    text-align: right;
    font-size: 1.4em;
    border: solid $backgroundGray 1px;
    display: block;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    box-sizing: border-box;
}

.keyboard{
    margin: auto;
}



